.links {
    width: 200px; /* Если нужно, задаем ширину */
  }
  
  .links a {
    background-color: #eee; /* Серый фон */
    color: black; /* Черный текст */
    display: block; /* Чтобы ссылки отображались друг под другом */
    padding: 12px; /* Отступы */
    text-decoration: none; /* Убираем у ссылок подчеркивание */
  }
  
  .links a:hover {
    background-color: #ccc; /* Темно-серый фон при наведении курсора */
  }
  
  .links a.active {
    background-color: #04AA6D; /* Зеленый фон для "активной/текущей" ссылки */
    color: white;
  }