.links {
    width: 200px; 
  }
  
  .links a {
    background-color: #eee; 
    color: black; 
    display: block; 
    padding: 12px; 
    text-decoration: none; 
  }
  
  .links a:hover {
    background-color: #ccc; 
  }
  
  .links a.active {
    background-color: #04AA6D; 
    color: white;
  }

.ger {
  position: relative;
  left: 0px;
  top: 520px;;
}